body{
    background-color: #0088CC;
}
.navbar{
    background-color: orange;
    margin-bottom: 0;
    color: #ffffff!important;
}

.navbar-inverse{

    border: none;
    border-radius: inherit;
}

.jumbotron{
    width: 100%;
    border-radius: 0!important;
    background-color: #0088CC;
}

.jumbotron h1, .jumbotron h3{
    color: #ffffff;
    text-align: center;

}

.navbar-inverse, .navbar-brand, .navbar-right li a{
    color: #000000!important;
    font-weight: 600;
}

.navbar-brand:hover, .navbar-right li a:hover{
    color: #ffffff!important;
    font-weight: 600;
}